body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

header{
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #e6f7ff;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    bottom: 0;
}
